
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--Dynamic Title-->
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="img/favicon.jpeg" type="image/icon type">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/lib/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>



<body>

    <!-- Hyperlinks to two other pages-->
    <nav>
        <a asp-controller="Home" asp-action="Index">"Home"</a>
        <a asp-controller="Home" asp-action="Calculator">"Calculator"</a>
    </nav>

    <!--Main section of referenced page-->
    <div>
        @RenderBody()
    </div>

    <!--Brings in libraries for Bootstrap, JavaScript, and JQuery-->
    <script src="~/lib/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jQuery/jquery-3.6.3.js"></script>
    <script src="~/js/JavaScript.js"></script>

</body>

</html>

<footer>This es le footer</footer>

