@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ye Olde Website";
}
<h3>This is me website</h3>
<br />
<img src="img/drums1.png" alt="drums" />


<p>
    Out of 413, I hope to become proficient in C#, and become comfortable with the MVC process. I want to be a competent technology professional!
</p>

<br />
<h3>Top three jobs I am interested in following graduation:</h3>
<ol>
    <li>Technology Consultant</li>
    <li>Software Developer</li>
    <li>Product Manager</li>
</ol>
<br />







